* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background-image: url(/assets/1L5A9202.jpg); */
    /* background-image: url(/assets/1L5A9316.jpg); */
    background-size: 100%;
    background-position-x: center;
    /* background-repeat: no-repeat; */
    /* overflow-y: hidden; */
}

/* BG image */

@media screen and (max-width: 1200px){
    html {
        background-size: 120%;
    }
}

@media screen and (max-width: 978px){
    html {
        background-size: 150%;
    }
}


@media screen and (max-width: 776px){
    html {
        background-size: 180%;
    }
}

@media screen and (max-width: 655px){
    html {
        background-size: 210%;
    }
}

@media screen and (max-width: 580px){
    html {
        background-size: 240%;
    }
}

@media screen and (max-width: 506px){
    html {
        background-size: 280%;
    }
}

@media screen and (max-width: 415px){
    html {
        background-size: 320%;
    }
}


    /* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 10%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbarBoks li {
    display: inline;
    padding: 4vh;
}

.navImg {
    position: absolute;
    top: -22px;
    width: 100px;
    left: 2vh;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: white;
    /* border-bottom: 1px solid grey; */
}

.navlistSoMe button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

.navbarOpen {
    display: none !important;
}

.navlistSoMe {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

@media screen and (max-width: 1111px) {
    ul {
        margin-left: 15%;
    }
    .navbarOpen {
        display: none !important;
    }
}

@media screen and (max-width: 720px) {
    ul {
        margin-left: 20%;
    }
    .navbarOpen {
        display: none !important;
    }
}


@media screen and (max-width: 850px) {
    .navbarBoks {
        width: 100%;
        left: 0;
        position: absolute;
        top: 60px;
        margin: 0;
        display: none;
    }
    
    .navbarBoks li {
        display: block;
        text-align: center;
        background-color: rgb(229, 229, 229);
        font-weight: 700;
        font-size: larger;
    }

    .navbarOpen {
        display: inline-block !important;
        position: absolute;
        top: 13px;
        right: 0;
        background-color: transparent;
        border: none;
        font-size: 30px;
        position: absolute;
        right: 10px;
        z-index: 2;
        color: black;
    }

    .navlistSoMe {
        right: 2rem;
    }
}


    /*  Main kontent  */

body div {
    margin: auto;
}

.mainFlex {
    /* opacity: 20%; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    top: 6rem;
    min-height: 150vh;
    flex-wrap: wrap;
}


@media screen and (max-width: 1250px) {
    .mainFlex {
        width: 100%;
    }
}

.mainFlex div {
    width: 20rem;
    height: 30rem;
    background-color: #f0f0f0;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

.mainFlex div img {
    width: 150%;
}

.mainFlex div h3 {
    /* position: absolute; */
    color: #000;
    margin-top: 1rem;
}

.buyBtn {
    text-align: center;
    width: 80%;
    height: 20px;
    background-color: #000;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: large;
    height: 40px;
    position: relative;
    top: 1rem;
}


/* overlay */
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); 
    z-index: 1;   
}

.soon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    z-index: 2;
    font-size: 40px;
}