* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(/assets/1L5A9202.jpg);
    /* background-image: url(/assets/1L5A9316.jpg); */
    background-size: 100%;
    /* background-position-y: 60px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 10%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbarBoks li {
    display: inline;
    padding: 4vh;
}

.navImg {
    position: absolute;
    top: -22px;
    width: 100px;
    left: 2vh;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid grey;
}

.navlistSoMe button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}


.navlistSoMe {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

@media screen and (max-width: 1111px) {
    ul {
        margin-left: 15%;
    }
}

@media screen and (max-width: 720px) {
    ul {
        margin-left: 20%;
    }
}


@media screen and (max-width: 700px) {
    .navbarBoks li {
        display: block;
        text-align: center;
        background-color: grey;
        display: none;
    }
}